<h1>Request Explorer</h1>
<button class="btn-secondary" (click)="copyRequest()">Copy Request</button>
<button class="btn-secondary" (click)="deleteRequest()">Delete Request</button>

<div>
  @if (populationData().length) {
    <div>
      <h2>Population Data</h2>
      <ul>
        @for (data of populationData(); track data) {
          <li>
            {{ data.Nation}}
          </li>
        }
      </ul>
    </div>
  }
</div>

<!-- <app-request-explorer [request$]="request$" [requestSignal]="requestSignal"></app-request-explorer> -->

<router-outlet></router-outlet>
